.pagestyle {
  background: #232234;
  max-width: 100vw;
  overflow: hidden;
}


.tittle {
  width: 100%;
  background-color: red;
  /* border: 2px solid rgb(0, 0, 0); */
  display: block;
  position: relative;
  overflow: hidden;
  height: 950px;
  min-height: 700px;
  max-height: 80vh;
}

.tittle-video {
  min-height: 700px;
}

.tittle-text-section,
.tittle-h1,
.tittle-span,
.tittle-p,
.tittle-span {
  z-index: 1;
  color: white;
  position: relative;
  top: 0px;
  margin: 0px;

}

.tittle-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
  height: 0;

}

.tittle-h1 {
  font-size: 90px;
  margin: 0px;
  padding: 0px;
  top: 3vh;
  width: 75vw;
  /* font-family: "Paytone One"; */
  font-weight: bold;
}

.tittle-p {
  position: relative;
  font-size: 20px;
  /* font-family: "Open Sans"; */
  padding: 2%;
}

.p1 {
  position: relative;
  color: #8DCAEC;
  top: 5px;
}

.p2 {
  position: relative;
  color: #ccccccc4;
  top: 15%;
}

p {
  margin: inherit;
}

.home-video-div {
  position: relative;
  padding: 10px;


}

.home-video-img {
  width: 85%;
  position: relative;
  /* top: 3vw; */
  left: 0px;
}


.lands {
  width: 100%;
  margin-bottom: 5%; 
  height: auto;
  padding-bottom: 15px;
  /* border: 2px solid rgb(99, 37, 37); */
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /* background-color: rgb(237, 155, 155); */
  /* height: 500px; */
}

.lands-resume {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.OpenSea-div {
  max-width: 80%;
  margin-top: 5%;
  max-height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.OpenSea-img {
  max-width: 80%;
  max-height: 80%;
  padding: 1px;
  margin-bottom: 2%;
}

.landsButton {
  font-size: 18px;
  color: white;
  font-family: 'Paytone One';
  border-color: rgba(35, 34, 52, 1);
  border-width: 3px;
  margin-top: 4%;
  text-decoration: none;
  font-weight: 700;
  padding: 17px 34px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  background-color: #028090;
  min-width: 150px;
  min-height: 40px;
  cursor: pointer;
}

.lands-h2 {
  font-size: 400%;
  margin: 0;
  color: white;
  font-weight: 800;
}

.land-cant {
  font-size: 24px;
  font-family: 'Arial';
  font-weight: bold;
  color: white;
  margin: 3%
}

.blue-span-lands {
  font-weight: bold;
  color: rgb(0, 143, 222);
}

.lands-imgs-section {
  /* border: 2px; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 24px;
  /* margin:0px; */
  font-weight: bold;

  /* width: 90%; */
  /* max-width: 275px; */
  /* border: 3px solid rgb(11, 27, 255); */
  /* flex-direction: column; */
}

.lands-img-section {
  width: 325px;
  min-width: 175px;
  /* padding: 3px; */
  /* width: 99%; */
  /* max-width: 275px; */
  /* margin: 2%;
  padding: 2px; */
  /* border: 2px; */
  /* border: 2px solid rgb(255, 255, 255); */
}

.land-img-one,
.land-img-Two,
.land-img-Tree,
.land-img-Six {
  width: 100%;
  max-width: 100%;
}

.lands-ratio {}

.lands-state {
  color: rgb(0, 143, 222);
}




.features {
  width: 100%;
  /* height: +25%; */
  min-height: none;
  /* padding: 4%;   */
  /* height: 500px; */
  /* padding: 15px; */
  background-color: rgba(77, 184, 47, 0.645);
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/Logotipos/tarjeta2-8571866.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  /* overflow: hidden; */
}
.features-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #232234c2; */
  background-image: linear-gradient(180deg, #232234, #23223400);
  /* z-index: 5; */
}
.feature {
  position: relative;
  margin: 1%;
  margin-bottom: 7%;
  padding: 3px;
  border-radius: 50px;
  min-height: 782px;
  width: 352px;
  min-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* align-content: flex-end; */
  /* align-items: flex-start; */
  color: white;
  box-shadow: 0px 0px 25px 0px rgb(0, 0, 0);
  background-image: linear-gradient(27deg, rgba(135, 0, 156, 1) 0%, rgba(0, 143, 222, 1) 100%);
}
.feature > h2{
  position: absolute;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  top:5%;
  font-weight: 800;
}
.feature > a {
  position: absolute;
  top: 80%;
}
.feature > p {
  position: absolute;
  top: 67%;
}
.f-two {
  position: relative;
  top: -25px;
  background-image: linear-gradient(27deg, rgba(135, 0, 156, 0.808) 0%, rgb(4, 167, 255) 100%);
}
.land-img-one{
  position: relative;
  margin-top: -25%;
  /* top: 10%; */
  max-width: 90%; 
}

.feature-button{
  font-size: 18px;
  color: white;
  /* font-family: 'Paytone One'; */
  border-color: rgba(35, 34, 52, 1);
  border-width: 3px;
  margin-top: 4%;
  text-decoration: none;
  font-weight: 700;
  padding: 17px 34px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  background-color: #028090;
  min-width: 150px;
  min-height: 40px;
  cursor: pointer;
  box-shadow: -2px 3px 0px 0px rgb(219 13 255);
  border-radius: 60px;
}





.team-section {
  width: 100vw;
  margin: 0;
  /* height: 500px; */
  /* background-color: rgb(221, 29, 179); */
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.home-text-area {
  /* border: 2px solid rgb(255, 255, 255); */
  width: 100vw;
  height: auto;
  color: white;
  font-size: 40px;
}
.home-text-area > h2 {
  font-size: 40px;
  margin: 1vh; 
  /* padding: 0px; */
} 
.home-text-area > p {
  font-size: 20px;
}


.teams {
  width: 80%;
  /* height: 500px; */
  padding: 15px;
  /* margin: ; */

  /* background-color: rgba(77, 184, 47, 0.645); */
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.group-teams {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}
.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  max-width: 400px;
  min-width: 180px;
  min-height: 350px;
  margin: 5px;
  /* padding: 2px; */
  border: 2px solid rgb(228, 14, 14);
  border-radius: 10%;
  box-shadow: 0px 0px 25px 0px rgb(0, 0, 0);
  overflow: hidden;    
  color: white;       
  /* background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/pico-2001788.jpg');         */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  
}

.team > div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
  width: 300px;
  max-width: 400px;
  min-width: 180px;
  min-height: 350px;  
  border-radius: 10%;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.507);
  overflow: hidden
}



.t1 {        
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/pico-2001788.jpg');        
  
}
.t2 {
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/soniadiez-2002036.jpg');
}
.t3 {  
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/Fernando-2002825.jpg');
}
.t4{
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/antoniosierra-2107303.jpg');
}
.t5 {
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/soniadiez-2002036.jpg');
}
.t5 {
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/photo_2022-05-09_18-34-43-2114114.jpg');
}
.t6 {
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/franroncero-2107303.jpg');
}


.img-position {
  width: 100%;
  height: 35vh;
  /* height: 350px; */

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;


}

/* .team-img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 25%;
  top: 0%;
  background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/pico-2001788.jpg');
                 
                   background-size: cover;
                   background-repeat: no-repeat;
                   background-position: center center;
} */



/* .section{
  width: 100%;
  height: 500px;
  background-color: rgb(211, 226, 129);
  border: 2px solid rgb(255, 255, 255);
} */


@media (max-width: 800px) {
  .tittle-h1 {
    font-size: 60px;
  }

  .p1 {
    position: relative;
    top: 20px;
  }

  .p2 {
    position: relative;
    color: #ccccccc4;
    top: 75px;
  }

  .home-video-div {
    position: relative;
    top: 180px;
    height: 400px;
    width: auto;
  }
}

@media (max-width: 400px) {
  .tittle-h1 {
    font-size: 48px;
    width: 100vw;
    padding-bottom: 5%;
  }

  .p1 {
    position: relative;
    top: 10px;
  }

  .p2 {
    position: relative;
    color: #ccccccc4;
    top: 55px;
  }

  .home-video-div {
    position: relative;
    top: 120px;
    height: 400px;
    width: auto;
  }
}

/*style="width: 32%;
                 padding-left:2%;padding-right:2%;background-color: rgba(255, 255, 255, 1);
                 background-image: url('https://content.app-sources.com/s/49401586197528073/uploads/equipo/pico-2001788.jpg');
                 
                   background-size: cover;
                   background-repeat: no-repeat;
                   background-position: center center;
                 box-shadow: 0px 0px 25px 0px rgba(170, 170, 170, 0.25) ;border-radius: 15px;
                 top: 0px;
                 */